@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Josefin+Sans:wght@300&family=Merriweather:ital,wght@0,700;1,700&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  color: white;
  background-color: black;
  font-family: "Cormorant Garamond", serif;
}
body header {
  padding: 15px 20px;
  font-size: 20px;
}
body header .logoo {
  padding-left: 10%;
  width: 95px;
}
body header .bars {
  border: none;
  font-size: 35px;
}
body header .nav-item {
  text-transform: uppercase;
}
body main .jumbotron {
  margin: 0;
  display: flex;
  text-align: center;
  align-items: center;
  height: 420px;
  background-color: black;
  background-image: url(../img/fondo.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
body main .jumbotron .container h1 {
  font-size: 120px;
}
body main .jumbotron .container p {
  font-size: 45px;
}
body main .kits {
  background-image: url(../img/kits.png);
}
body main .accesorios {
  background-image: url(../img/ACCESORIOS.png);
}
body main .talles {
  background-image: url(../img/guiadetalles.png);
}
body main .devoluciones {
  background-image: url(../img/devoluciones.png);
}
body main article .titulo {
  padding: 50px;
  font-size: 35px;
}
body main article .titulo .mapa {
  width: 90%;
}
body main article .beneficios {
  padding: 100px 50px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
body main article .beneficios .icono {
  font-size: 50px;
  padding-bottom: 20px;
}
body main article .beneficios .beneficios .row p {
  padding: 20px;
  font-size: 415px;
  text-transform: capitalize;
  margin: 0;
}
body main .gallery {
  display: grid;
  border-top: solid 3px white;
  padding: 50px;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 200px);
}
body main .gallery .item {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: solid black 3px;
}
body main .gallery .item1 {
  grid-area: item1;
  background-position: 95% 5%;
  background-image: url(../img/messi.jpg);
}
body main .gallery .item2 {
  grid-area: item2;
  background-position: 85% 15%;
  background-image: url(../img/arsenalmodelaje.jpg);
}
body main .gallery .item3 {
  grid-area: item3;
  background-position: 85% 15%;
  background-image: url(../img/realmadridmodelaje.jpg);
}
body main .gallery .item4 {
  grid-area: item4;
  background-position: 95% 5%;
  background-image: url(../img/kean.jpg);
}
body main .gallery .item5 {
  grid-area: item5;
  background-position: 85% 15%;
  background-image: url(../img/watkins.jpg);
}
body main .gallery .item6 {
  grid-area: item6;
  background-position: 85% 15%;
  background-image: url(../img/gravenmberch.jpg);
}
body main .liga {
  color: black;
  display: flex;
  display: block;
  width: 180px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0px 0px 10px;
  font-weight: bold;
}
body main .descuentos {
  width: 140px;
}
body main .entrenamiento {
  width: 300px;
}
body main .card {
  display: flex;
  display: inline-block;
  margin: 20px 10px;
  width: 190px;
  transition: 0.5s;
}
body main .card .card-img-top {
  padding-top: 10px;
}
body main .card .card-body .card-title {
  font-size: 25px;
}
body main .card .card-body .card p {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  padding: 7px;
  border-top: 1px solid white;
}
body main .card .card-body .compra {
  color: white;
  text-decoration: none;
  margin: 5px;
  padding: 5px 30px;
  border: solid white;
}
body main .card .card-body .compra:hover {
  font-weight: bold;
  color: black;
  background-color: white;
  transition: 0.5s;
}
body main .card:hover {
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: inset 0px 0px 5px white;
}
body main .rojo {
  background-color: rgb(19, 0, 0);
}
body main .azul {
  background-color: rgb(0, 0, 41);
}
body main .che {
  width: 151px;
}
body main .interimagen {
  width: 217px;
}
body main .gris {
  background-color: rgb(14, 14, 14);
}
body main .verde {
  background-color: rgb(0, 20, 0);
}
body main .bet {
  width: 180px;
}
body main .amarillo {
  background-color: rgb(19, 19, 0);
}
body main .villa {
  width: 160px;
}
body main .realmadridvieja {
  background-color: #15001d;
}
body main .mancity {
  background-color: #000e1d;
}
body main .puma {
  background-color: #220008;
}
body footer {
  font-size: 20px;
  padding: 15px;
  border-top-style: solid;
}
body footer .redes {
  color: white;
  font-size: 27px;
  padding: 4px;
}
body footer .redes:hover {
  color: #333;
}/*# sourceMappingURL=style.css.map */